<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.instagramclone.repository.HashtagRepository">

    <insert id="insertHashtag" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO hashtags
        (name)
        VALUES
        (#{name})
    </insert>

    <insert id="insertPostHashtag" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO post_hashtags
        (post_id, hashtag_id)
        VALUES
        (#{postId}, #{hashtagId})
    </insert>

    <select id="findByName" resultType="Hashtag">
        SELECT
        h.id
        , h.name
        , h.created_at
        FROM hashtags h
        WHERE name = #{name}
    </select>

    <!-- 해시태그 추천을 위한 특정 키워드의 TOP5 해시태그 이름과 게시물 수 조회하기   -->
    <select id="searchHashtagsByKeyword" resultType="HashtagSearchResponse">
        SELECT
        p.name AS hashtag
        , COUNT(ph.post_id) AS feedCount
        FROM post_hashtags ph
        RIGHT OUTER JOIN hashtags p
        ON ph.hashtag_id = p.id
        WHERE p.name LIKE CONCAT(#{keyword}, '%')
        GROUP BY p.name
        ORDER BY 2 DESC
        LIMIT 5
    </select>


</mapper>